name: Java CI

on:
  push:
    branches:
      - develop
      - support/4.6
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptopenjdk.net:443
            api.github.com:443
            api.snapcraft.io:443
            auth.docker.io:443
            codecov.io:443
            docker.io:443
            downloads.gradle-dn.com:443
            downloads.gradle.org:443
            github.com:443
            jcenter.bintray.com:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            plugins-artifacts.gradle.org:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            repo.maven.apache.org:443
            services.gradle.org:443
            uploader.codecov.io:443
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          lfs: true
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'gradle'
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.run_id }}
      - uses: niden/actions-memcached@3b3ecd9d0d035ea92db716dc1540a7dbe9e56349 # v7
      - uses: supercharge/redis-github-action@bc274cb7238cd63a45029db04ee48c07a72609fd # v1.8.1
        with:
          redis-password: 'changeit'
      - uses: gradle/actions/wrapper-validation@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v4
      - run: ./gradlew --no-daemon check publishToMavenLocal
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - id: output_version
        run: |
          while read line
          do
            if [ -n "$line" ]
            then
              version=$line
            fi
          done < "version.txt"
          echo "securityJwtVersion=$version" >>$GITHUB_OUTPUT
    outputs:
      securityJwtVersion: ${{ steps.output_version.outputs.securityJwtVersion }}

  integration-tests:
    if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/support/4.6'
    strategy:
      fail-fast: false
      matrix:
        versions:
          - springBootVersion: 3.0.13
            springdocVersion: 2.1.0
          - springBootVersion: 3.1.12
            springdocVersion: 2.2.0
          - springBootVersion: 3.2.12
            springdocVersion: 2.5.0
          - springBootVersion: 3.3.13
            springdocVersion: 2.6.0
          - springBootVersion: 3.4.13
            springdocVersion: 2.8.11
          - springBootVersion: 3.5.9
            springdocVersion: 2.8.11
          - springBootVersion: 4.0.1
            springdocVersion: 3.0.0
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptopenjdk.net:443
            api.github.com:443
            auth.docker.io:443
            docker.io:443
            downloads.gradle-dn.com:443
            downloads.gradle.org:443
            github.com:443
            jcenter.bintray.com:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            plugins-artifacts.gradle.org:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            repo.maven.apache.org:443
            repo.spring.io:443
            services.gradle.org:443
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: ${{ !startsWith(matrix.versions.springBootVersion, '4.') }}
        with:
          repository: 'bratkartoffel/security-jwt-examples'
          ref: 'master'
          fetch-depth: 1
          lfs: true
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        if: ${{ startsWith(matrix.versions.springBootVersion, '4.') }}
        with:
          repository: 'bratkartoffel/security-jwt-examples'
          ref: 'feature/boot-4'
          fetch-depth: 1
          lfs: true
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-maven-${{ github.run_id }}
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'gradle'
      - uses: niden/actions-memcached@3b3ecd9d0d035ea92db716dc1540a7dbe9e56349 # v7
      - uses: supercharge/redis-github-action@bc274cb7238cd63a45029db04ee48c07a72609fd # v1.8.1
      - uses: gradle/actions/wrapper-validation@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v4
      - run: ./gradlew --no-daemon -PspringBootVersion=${{ matrix.versions.springBootVersion }} -PspringdocVersion=${{ matrix.versions.springdocVersion }} -PsecurityJwtVersion=${{ needs.build.outputs.securityJwtVersion }} check
      - run: ./gradlew --no-daemon -PspringBootVersion=${{ matrix.versions.springBootVersion }} -PspringdocVersion=${{ matrix.versions.springdocVersion }} -PsecurityJwtVersion=${{ needs.build.outputs.securityJwtVersion }} starter-hibernate:dependencies | egrep '(:spring|:security-jwt)' | grep -v -- '->' | sed -e 's/^[+-\\| ]\+//' -e 's/ ([n\*])$//' | sort | uniq
