name: Java CI

on:
  push:
    branches:
      - develop
      - support/4.6
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  checks: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptopenjdk.net:443
            api.github.com:443
            api.snapcraft.io:443
            auth.docker.io:443
            codecov.io:443
            docker.io:443
            downloads.gradle-dn.com:443
            downloads.gradle.org:443
            github.com:443
            jcenter.bintray.com:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            plugins-artifacts.gradle.org:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            repo.maven.apache.org:443
            services.gradle.org:443
            uploader.codecov.io:443
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          lfs: true
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'gradle'
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.run_id }}
      - uses: niden/actions-memcached@3b3ecd9d0d035ea92db716dc1540a7dbe9e56349 # v7
      - uses: supercharge/redis-github-action@bc274cb7238cd63a45029db04ee48c07a72609fd # v1.8.1
      - uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v4
      - run: ./gradlew --no-daemon check publishToMavenLocal
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - id: output_version
        run: |
          while read line
          do
            if [ -n "$line" ]
            then
              version=$line
            fi
          done < "version.txt"
          echo "securityJwtVersion=$version" >>$GITHUB_OUTPUT
    outputs:
      securityJwtVersion: ${{ steps.output_version.outputs.securityJwtVersion }}

  integration-tests:
    if: github.ref == 'refs/heads/develop' || github.ref == 'refs/heads/support/4.6'
    strategy:
      fail-fast: false
      matrix:
        versions:
          - springBootVersion: 3.0.13
            springdocVersion: 2.1.0
          - springBootVersion: 3.1.12
            springdocVersion: 2.2.0
          - springBootVersion: 3.2.12
            springdocVersion: 2.5.0
          - springBootVersion: 3.3.13
            springdocVersion: 2.6.0
          - springBootVersion: 3.4.12
            springdocVersion: 2.8.11
          - springBootVersion: 3.5.8
            springdocVersion: 2.8.11
          - springBootVersion: 4.0.0
            springdocVersion: 3.0.0
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.adoptopenjdk.net:443
            api.github.com:443
            auth.docker.io:443
            docker.io:443
            downloads.gradle-dn.com:443
            downloads.gradle.org:443
            github.com:443
            jcenter.bintray.com:443
            objects.githubusercontent.com:443
            plugins.gradle.org:443
            plugins-artifacts.gradle.org:443
            production.cloudflare.docker.com:443
            registry-1.docker.io:443
            repo.maven.apache.org:443
            repo.spring.io:443
            services.gradle.org:443
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        if: ${{ !startsWith(matrix.versions.springBootVersion, '4.') }}
        with:
          repository: 'bratkartoffel/security-jwt-examples'
          ref: 'master'
          fetch-depth: 1
          lfs: true
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        if: ${{ startsWith(matrix.versions.springBootVersion, '4.') }}
        with:
          repository: 'bratkartoffel/security-jwt-examples'
          ref: 'feature/boot-4'
          fetch-depth: 1
          lfs: true
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-maven-${{ github.run_id }}
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'gradle'
      - uses: niden/actions-memcached@3b3ecd9d0d035ea92db716dc1540a7dbe9e56349 # v7
      - uses: supercharge/redis-github-action@bc274cb7238cd63a45029db04ee48c07a72609fd # v1.8.1
      - uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v4
      - run: ./gradlew --no-daemon -PspringBootVersion=${{ matrix.versions.springBootVersion }} -PspringdocVersion=${{ matrix.versions.springdocVersion }} -PsecurityJwtVersion=${{ needs.build.outputs.securityJwtVersion }} check
      - run: ./gradlew --no-daemon -PspringBootVersion=${{ matrix.versions.springBootVersion }} -PspringdocVersion=${{ matrix.versions.springdocVersion }} -PsecurityJwtVersion=${{ needs.build.outputs.securityJwtVersion }} starter-hibernate:dependencies | egrep '(:spring|:security-jwt)' | grep -v -- '->' | sed -e 's/^[+-\\| ]\+//' -e 's/ ([n\*])$//' | sort | uniq
